<!DOCTYPE html>
<html data-layout-decorate="~{fragments/layout2}">
<head>
<meta charset="UTF-8">
<title>Comprar</title>
</head>
<body>

<div class="top-brands" data-layout-fragment="content1">

	<div class="checkout">
		<div class="container">
<!-- 			<h2 th:text="${usuario.nombreUsuario}">Contenido de su carrito de compras: <span>Productos</span></h2> -->

			<form id="compraform" th:object="${usuario}">
				<div class="checkout-right">
					<table class="timetable_sub">
						<thead>
							<tr>
								<th>SL No.</th>
								<th>Producto</th>
								<th>Cantidad</th>
								<th>Nombre Producto</th>

								<th>Precio</th>
								<th>Total</th>
								<th>Remove</th>
							</tr>
						</thead>

						<tbody id="datosCarShop">

						</tbody>
					</table>
				</div>
				</br>
<!-- 				Puntos: <input type="text" placeholder="Usuario..." th:field="${usuario.punto}"> -->
				</br>
				<input type="submit" class="btn btn-primary"  value="Comprar" />
			</form>
			<div class="checkout-left">
				<div class="checkout-left-basket">
					<h4>Contenido de su carrito</h4>
					<ul>
						<li>Product1 <i>-</i> <span>$15.00 </span></li>
						<li>Product2 <i>-</i> <span>$25.00 </span></li>
						<li>Product3 <i>-</i> <span>$29.00 </span></li>
						<li>Total Service Charges <i>-</i> <span>$15.00</span></li>
						<li>Total <i>-</i> <span>$84.00</span></li>
					</ul>
				</div>
				<div class="checkout-right-basket">
					<a th:href="@{/index}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>¿Continuar Comprando?</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


</div>


</body>
</html>