	<!-- baner -->
	<div class="logo_products" data-th-fragment="baner_admin">
		<div class="container">
			<div class="w3ls_logo_products_left1">
				<a href="#"><img
					th:src="@{/images/logo.png}"  alt="" /></a>

			</div>

			<div class="w3ls_logo_products_left">
				<h1>
					<a href="#">Physalis Admin</a>
				</h1>
			</div>
			<div class="w3l_search">
				<form action="#" method="post">
					<div class="clearfix"></div>
				</form>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
<!-- //baner -->