	<!-- baner -->
	<div class="logo_products" data-th-fragment="baner">
		<div class="container">
			<div class="w3ls_logo_products_left1">
				<a href="#" th:href="@{/index}"><img
					th:src="@{/images/logo.png}"  alt="" /></a>

			</div>

			<div class="w3ls_logo_products_left">
				<h1>
					<a href="#" th:href="@{/index}">Physalis en Linea</a>
				</h1>
			</div>
			<div class="w3l_search">
				<form action="#" method="post">
					<input type="search" name="Search"
						placeholder="Search for a Product..." required="">
					<button type="submit" class="btn btn-default search"
						aria-label="Left Align">
						<i class="fa fa-search" aria-hidden="true"> </i>
					</button>
					<div class="clearfix"></div>
				</form>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
<!-- //baner -->