<!-- header -->
	<div class="agileits_header" data-th-fragment="header">
		<div class="container">
			<div class="w3l_offers">
				<p>DESCUENTOS ESPECIALES EN TODOS LOS PRODUCTOS. <a href="products.html">COMPRA AHORA!</a></p>
			</div>
			<div class="agile-login">
				<ul>
					<li><a href="registered.html"> Registrate </a></li>
					<li><a href="login.html">Login</a></li>
					<li><a href="contact.html">Ayuda</a></li>

				</ul>
			</div>
			<div class="product_list_header">
				<a th:href="@{/compra/carshop}">
						<input type="hidden" name="cmd" value="_cart">
						<input type="hidden" name="display" value="1">
						<button class="w3view-cart"  value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
				</a>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

<!-- end header -->