<!-- main-slider -->
		<ul id="demo1" data-th-fragment="slider">
			<li>
				<img th:src="@{/images/11.jpg}" alt="" />
				<!--Slider Description example-->
				<div class="slide-desc">
					<h3>Comprar Productos de Aguaymanto Ahora Están En Línea Con Nosotros</h3>
				</div>
			</li>
			<li>
				<img th:src="@{/images/22.jpg}" alt="" />
				  <div class="slide-desc">
					<h3>Productos de bebidas de aguaymanto están ahora en línea con nosotros</h3>
				</div>
			</li>
			
			<li>
				<img th:src="@{/images/44.jpg}" alt="" />
				<div class="slide-desc">
					<h3>Productos de deshidratados de aguaymanto están ahora en línea con nosotros</h3>
				</div>
			</li>
		</ul>
	<!-- //main-slider -->